#main-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
  min-width: 700px;
  max-height: 1200px;
  min-height: 1000px;
  margin-top: 100px;
  border: solid;
  border-radius: 5px;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-height: 200px;
  min-height: 150px;
  width: 100%;
  border-bottom: solid;
}

#header-school-name {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: bold;
  border-bottom: solid;
}

#header-school-slogan {
  position: absolute;
  top: clamp(5%, 70px, 80px);
  left: clamp(45px, 5%, 70px);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin-top: 10px;
  font-style: italic;
}

#header-container-middle-section {
  display: flex;
  justify-content: center;
}

.header-middle-section-logo {
  width: 60%;
}

#header-login-input-fullname {
  position: absolute;
  top: 75px;
  width: 13%;
  right: 10%;
}

#header-login-input-pin {
  position: absolute;
  top: 110px;
  width: 13%;
  right: 10%;
}

#header-login-button {
  position: absolute;
  width: 50px;
  right: 3%;
  top: 85px;
}

.header-dark-mode-toggle {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  cursor: pointer;
}
